@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="imgHeading">CatPaw University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2 class="homeHeading">University Courses</h2>
        <p>
            CatPaw University offers a wide range of courses
        </p>
    </div>
    <div class="col-md-4">
        <h2 class="homeHeading">Professors</h2>
        <p>CatPaw University has the best teaching staff</p>
    </div>
    <div class="col-md-4">
        <h2 class="homeHeading">Departments</h2>
        <p>CatPaw University has 4 departments and plans to expand</p>
    </div>
</div>