@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');



html{
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url(../main.jpg);
    background-size: cover;
}

audio {
    height: 25px;
}
.line-breaks {
    white-space: pre-line;
}
iframe {
    border-radius: 10px;
    width: 300px; 
    height: 250px;
    box-shadow: 5px 5px 10px brown;
}
footer {
    background-color: rgba(139, 114, 114,0.5);
}
.navbar-brand {
    font-family: 'Great Vibes', cursive;
}
.navbar .navbar-brand{
    color: #f62e94;
    font-size: x-large;
}


#bg {
    color:white;
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    border-radius: 5px;
    border: none;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
}

#backtodefault {
    background: linear-gradient(to right, #6666ff, #0099ff, #00ff00, #ff3399, #6666ff);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    animation: rainbow_animation 6s ease-in-out infinite;
    background-size: 400% 100%;
    border-radius: 5px;
    border: none;
}
@keyframes rainbow_animation {
    0%,100% {
        background-position: 0 0;
    }

    50% {
        background-position: 100% 0;
    }
}
