@model SacramentMeeting.Models.Meeting

@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-white">Edit</h1>

<h4 class="text-white">Nevsky Ward</h4>
<hr />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <div class="row bg-opacity-25 bg-dark p-5 rounded-3">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="MeetingDate" class="control-label text-white"></label>
                <input asp-for="MeetingDate" class="form-control" />
                <span asp-validation-for="MeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="President" class="control-label text-white"></label>
                <input asp-for="President" class="form-control" />
                <span asp-validation-for="President" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Conductor" class="control-label text-white"></label>
                <input asp-for="Conductor" class="form-control" />
                <span asp-validation-for="Conductor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningHymn" class="control-label text-white"></label>
                <input asp-for="OpeningHymn" class="form-control" />
                <span asp-validation-for="OpeningHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OpeningPrayer" class="control-label text-white"></label>
                <input asp-for="OpeningPrayer" class="form-control" />
                <span asp-validation-for="OpeningPrayer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SacramentHymn" class="control-label text-white"></label>
                <input asp-for="SacramentHymn" class="form-control" />
                <span asp-validation-for="SacramentHymn" class="text-danger"></span>
            </div>
            </div>
        <div class="col-4"></div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="IntermediateHymn" class="control-label text-white"></label>
                <input asp-for="IntermediateHymn" class="form-control" />
                <span asp-validation-for="IntermediateHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Speakers" class="control-label text-white"></label>
                <input asp-for="Speakers" class="form-control" />
                <span asp-validation-for="Speakers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpeakerSubject" class="control-label text-white"></label>
                <textarea asp-for="SpeakerSubject" class="form-control"></textarea>
                <span asp-validation-for="SpeakerSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingHymn" class="control-label text-white"></label>
                <input asp-for="ClosingHymn" class="form-control" />
                <span asp-validation-for="ClosingHymn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClosingPrayer" class="control-label text-white"></label>
                <input asp-for="ClosingPrayer" class="form-control" />
                <span asp-validation-for="ClosingPrayer" class="text-danger"></span>
            </div>
            <div class="form-group pt-3">
                <input type="submit" value="Save" class="btn btn-info" />
                <a class="btn btn-secondary" asp-action="Index">Back</a>
            </div>
            </div>
            </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
