@{
    ViewData["Title"] = "Home";
}

<div class="text-white">
    <h1>Nevsky Ward</h1>
    <h6>
    Babushkina st, 111<br />
    Saint-Petersburg, Russia<br />
    </h6>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2003.0149225656799!2d30.44995847682141!3d59.86549836798849!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46962f6727bad7cf%3A0xfde191cafc9eb23f!2z0KbQtdGA0LrQvtCy0Ywg0JjQuNGB0YPRgdCwINCl0YDQuNGB0YLQsCDQodCy0Y_RgtGL0YUg0L_QvtGB0LvQtdC00L3QuNGFINC00L3QtdC5!5e0!3m2!1sru!2sru!4v1669907446315!5m2!1sru!2sru" 
    allowfullscreen="" 
    loading="lazy" 
    referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</div>