html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-image: url("../images/backgrounds/bg8.jpg");
    background-size: 100%;
}

.homePage {
    background-image: url("../images/backgrounds/bg2.png");
    background-size: 100%;
}

.movieImage {
    width:150px;
    height:200px;
    border-radius:5px;
    box-shadow: 3px 3px 5px #dba6f3;
}

footer {
    background-color: #333;
}

footer .container {
    color: white;
}

footer .container a {
    color: #dba6f3
}

.navbar .navbar-brand {
    color: #d075f9;
    font-weight: 700;
}
.navbar .navbar-brand:hover {
    color: #eecbff;
}
h1 {
    color:white;
    font-weight: bold;
    text-shadow: 1px 2px black;
}
select option{
    background-color: #c13dfd;
    color: white;
}
table {
    background-color: #dbdcff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #dba6f3;
}
table thead {
    background-color: #eecbff;
    font-size: large;
    text-shadow: 1px 1px white;
}
table tbody{
    font-weight: 400;
}
table tbody tr td {
    border: none;
}
